<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CS_ADO_NET"
			 connectionString ="Server=localhost;Database=ADO_NETDatabase;User Id=Dovahkiin\prote;Password=root;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration> 
